body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: gray; */
}
.container{
    width: 90vw;
    margin: auto;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250, 1fr));
    grid-template-rows: repeat(2, 1fr);
}