body{
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 30px auto;
  width: 80vw;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 240px));
  grid-template-columns: repeat(4, 1fr);

  gap: 15px;

  grid-auto-rows: 250px;
  grid-template-areas:
    "b1 b1 b2 b3"
    "b4 b5 b5 b3";
}
.item{
  border-radius: 10px;
  box-shadow: 2px 2px 3px 2px gray;
}
.item:hover{
  transform: scale(1.03);
}
    /*---------------- item 1 ---------------------------*/
.item_1 {
  background-color: #7e4989;
  grid-area: b1;
  grid-column: 1 / span 2;
  }
  .item_1 h4{
    padding: 0px 10px;
    color: white;
    text-align: justify;
    margin: 0px;
   }
  .para_1 p:last-child{
    color: rgba(252, 244, 244, 0.5);
    padding: 0px 10px;
    margin: 0px;
  }
  
  .image_area{
    margin-top: 10px;
    display: flex;
    /* gap: 5px; */

  }
  .image_area img{
    width: 45px;
  border-radius: 50px;
  padding: 20px;
  }
  .image_area .name_person{
    justify-self: center;
  align-self: center;
  text-align: left;
  color: white;
  }
  .item_1 span:first-child{
    font-weight: 600;
  }
  
/* ---------------ITEM 2 -------------------- */
.item_2 {
  background-color: #5A5C61 ;
  grid-area: b2;
  padding-bottom: 0px;
}
.para_2 {
  width: 90%;
  padding: 0px 10px;
  color: white;
  text-align: justify;
 
}
.para_2 p:first-child{
  /* width: 90%; */
  padding: 0px 10px;
  color: white;
  text-align: justify;
  margin-top: 0px;
 }
.para_2 p:last-child{
  color: rgba(252, 244, 244, 0.733);
  padding: 0px 10px;
}
.item_2 span:first-child{
  font-weight: 600;
}
      /* ---------------ITEM 3 -------------------- */
.item_3 {
  background-color: #f5f7f6;
  grid-area: b3;
  grid-row: 1/3;
  grid-column: 4/5;
  /* border: 1px solid gray; */
}
.para_3{
  /* width: 90%; */
  padding: 0px 15px;
  color: black;
  font-weight: 500;
  /* text-align: justify; */
 
}
.para_3 p:first-child{ 
  /* width: 90%; */
  padding: 0px 10px;
  color: rgb(0,0,0);
  /* text-align: justify; */
  margin-top: 0px;
 }
.para_3 p:last-child{
  color: rgba(48, 45, 45, 0.5);
  padding: 0px 10px;
}
.item_3 span:first-child{
  font-weight: 600;
  color: black
}
.item_3 span:last-child{
  color: black;
}

    /* ---------------ITEM 4 -------------------- */
.item_4 {
  background-color: #f0f3f0;
  grid-area: b4;
}
.para_4 {
  /* width: 90%; */
  padding: 0px 15px;
  color: rgb(37, 35, 35);
  text-align: justify;
 
}
.para_4 p{ 
  /* width: 90%; */
  padding: 0px 10px;
  color: rgb(0,0,0);
  text-align: justify;
  margin-top: 0px;
 }
.para_4 p:last-child{
  color: rgba(48, 45, 45, 0.5);
  padding: 0px 10px;
}
.item_4 span:first-child{
  font-weight: 600;
  color: black;
} 
.item_4 span:last-child{
  color: black;
} 
      /* ---------------ITEM 5 -------------------- */
.item_5 {
  background-color: #1a1a1b;
  grid-area: b5;
  grid-column: 2/ 4;
}
/* .para_5 p:first-child */
.item_5 h4{
  padding: 0px 10px;
  color: white;
  text-align: justify;
  margin: 0px;
 }
.item_5 p{
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  margin: 0px;
}
.item_5 span:first-child{
  font-weight: 600;
}

    @media (max-width: 375px) {
      
      .container {
        display: flex;
        flex-direction: column;
      
}
  
}
